.userContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.sectionDiv {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  grid-column-end: span 4;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.section {
  grid-column: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 60px));
  grid-gap: 15px;
  justify-content: center;
}

#homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

section {
  display: flex;
  flex-direction: row;
}

.ulDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  color: #e7eff1;
  background: linear-gradient(to bottom right, #001845, #5C677D );
} 

.albumImgDiv:hover {
  filter: brightness(1.25);
  opacity: 1;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  border-radius: 0;
}


.albumImgDiv {
  display: flex;
  width: 100px;
  height: 100px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
  justify-content: center;
  align-items: center;
}

.albumEffectDiv {
  width: 100px;
  height: 100px;
}

.albumTitle {
  margin-top: 10px;

}

.songImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 100px;
  width: 100px;
  margin: auto;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
}

.songImgDiv:hover{
  opacity: 0.75;
}

.playlistTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(17, 17, 18, 0.8);
}

.userTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0px;
  background-color: rgba(65, 90, 119, .8);
}

.iconBtn {
  border-radius: 5px;
  background-color: #979dac;
  height: 20px;
}

.addDiv{
  margin-right: 10px;
}

.songTitleDiv {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: dm sans,Sans-serif;
  font-size: 18px;
}


li {
  margin: 20px;
}
