/* TODO Add site wide styles */

html {
  background-image: url('./assets/wallpapersden.com_blue-clouds-symphony_2560x1440.jpg');
  height: auto;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fit-content;
  font-family: Verdana, Geneva, sans-serif;
} 
