#splashContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splashDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 450px;
  border-radius: 25px;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.142);
  background: linear-gradient(to bottom right, #001845, #5C677D );
}

.splashHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.splashBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.splashABtn {
  border-radius: 10px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
  background-color: #979dac;
}

#demoBtn {
  width: auto;
  height: auto;
  padding: 5px;
}
