.content {
  display: flex;
  height: 1000px;
  width: screen width;
  background-color: rgb(25, 25, 26);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: flex;
  width: 300px;
  height: 500px;
  background-color: #1877f2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
}
form {
  display: flex;
  width: 300px;
  height: 500px;
  color: blanchedalmond;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
form label {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
form input {
  display: block;
  border-radius: 15px;
  height: 25px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
