.content {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  width: 300px;
  height: 400px;
  color: rgba(151, 157, 172);
  background-color: rgba(0, 40, 85);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}
form label {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
form input {
  display: block;
  border-radius: 8px;
  height: 25px;
  width: 250px;
  margin: auto;
}

.Btn {
  display: flex;
  width: 150px;
  height: 25px;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: rgba(151, 157, 172);
  background-color: rgba(4, 102, 200);
  font-weight: bolder;
}
