* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: 30px;
  color: rgba(4, 102, 200);
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: screen width;
  height: 50px;
  background-color: rgba(17, 17, 18, 0.8);
}
